<!-- Show Users Details/Dashboard show.html.erb -->
<br class="clear"/>
<h1 style="text-align:center" class="velotitle">User Dashboard</h1>
<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<div class="col-xs-12 col-sm-6">
		<h4><%= @user.email %></h4>
		<%= image_tag 'blankuser.png' %>
	</div>
	<div class="col-xs-12 col-sm-6" style="float:right">
		<h4>Member Since:<h4>
		<h4><%=@user.created_at.strftime("%B %d, %Y") %></h4>
		<br />
		<h2>You have posted:</h2><br />
		<h2><%= @user.comments.count %> comnents.</h2><br />
		<h2><%= @user.comments.where(:rating => '5_stars').count %> Five Star Review(s).</h2>
	</div>
	<br class="clear"/>
	<br />
	<h4 class="text-center">Your Comments</h4>
	<% @user.comments.inspect %> <!-- for troubleshooting -->
	<div class="col-xs-10 col-xs-offset-1">
	<br />
	<!-- display comments below -->
	<% @user.comments.each do |comment| %>
		<div>

			<blockquote>
				<h3 style="margin-bottom:10px"><%= link_to comment.place.name, place_path(comment.place) %></h3>
				<%if comment.humanized_rating.present? %>
					<i><%= comment.humanized_rating %></i> -
				<% end %>
				<%= comment.message %>
				<small><%= comment.user.email %></small>
			</blockquote>
		</div>
	<% end %>
	<!-- end display Comments -->
	</div>
	<br class="clear"/>
	<br />
	<h4 class="text-center">Your Bike Shops</h4>
	<br />
	<!-- display Places below -->
	<% @user.places.each do |place| %>
		<% place.inspect %> <!-- for troubleshooting -->
		<div class="well col-xs-10 col-xs-offset-1">
			<h2><%= link_to place.name, place_path(place) %></h2>
			<i><%= place.address %></i><br /><br />
			<p><%= place.description %></p>
		</div>
	<% end %>
	<!-- end display Places -->

	<div class="clear"></div>
</div>
<br class="clear" /><br />
<% @user.inspect %> <!-- for troubleshooting -->