<h1 style="text-align:center" class="velotitle">Go Velo</h1>
<br class="clear"/>

<% @places.each do |place| %>

	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<h2><%= place.name %></h2>
		<i><%= place.address %></i><br /><br />
		<p><%= place.description %></p><br />
	
		<% if place.user.present? %>
			<small><%= place.user.email %></small>
		<% end %>

	</div>
	<br class="clear"/>

<% end %>

<footer>
	<div align="center" class="container-fluid col-xs-10 col-xs-offset-1">
		<%= will_paginate @places, renderer: BootstrapPagination::Rails %>
	</div>
</footer>
