<h1 style="text-align:center" class="velotitle">Go Velo - Details</h1>
<br class="clear"/>


	<div class="booyah-box col-xs-10 col-xs-offset-1">
		
		<!-- Note: the @place variable,single record for specific record ID -->
		<h2><%= @place.name %></h2>
		<i><%= @place.address %></i><br /><br />
		<p><%= @place.description %></p><br />
	
		<% if @place.user.present? %>
			<small><%= @place.user.email %></small>
		<% end %>

		<div class="pull-right">
			<% if current_user && current_user == @place.user %>
				<%= link_to "Edit", edit_place_path(@place), :class => "btn velobtn" %>
				<%= link_to "Destroy", place_path(@place), :method => :delete, :data => {:confirm => "Are you sure you want to delete this?"},:class => "btn velobtn" %>
			<% end %>			
		</div>

	</div>
	<br class="clear"/>


